* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://th.bing.com/th/id/OIP.59fTehT5cKm_sYwcPnN-CwHaJQ?&w=160&h=240&c=7&dpr=1.3&pid=ImgDet");

  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: inline-block;
  width: 18rem;
  padding: 0.7rem;
  background-color: rgba(57, 57, 132, 0.5);
  border-radius: 0.4rem;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  idth: 400px;
  font-weight: bold;
  transition: 1s ease-in;
}

input {
  padding: 0.7rem;
  idth: 400px;
  margin-bottom: 1.5rem;
  border-radius: 0.4rem;
  background-color: rgba(57, 57, 132, 0.5);
  transition: 1s ease-in;
  color: whitesmoke;
}
button:hover,
input:hover {
  background-color: black;
  font-size: 1rem;
  color: whitesmoke;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.log_in_form {
  border: 1px black solid;
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 0px rgba(57, 57, 132, 0.5);
  background-color: rgba(57, 57, 132, 0.5);
  ax-width: 800px;
}

::placeholder {
  color: rgba(199, 190, 190, 0.8);
}
