* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background-image: url("bgimg.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log_in_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 padding: 30px 40px;
  width: 80%;
  max-width: 600px;
  background-color:rgba(var(--prycolor),0.6);
  border-radius: 10px;
}

:root{
  --prycolor:36, 34, 34;
   --seccolor:
  --tetcolor:
}

input, button{
  padding:10px;
  margin-bottom: 15px;
  border-radius: 5px;
  width:100%;
  font-size: 20px;
  
}

button:hover{
  cursor: pointer;
  background-color: rgba(var(--prycolor),0.8);
  color:whitesmoke;

}
